<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Screen Capture Usage Description</key>
	<string>macshot needs screen recording permission to capture screenshots.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/sw33tLie/macshot/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>+5RTT9lGyoeOYAYuNfCdPhxugmruYvRDyFXgk6VPY1c=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>1800</integer>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
